
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample.WebSite.React</title>
</head>
<body>
    <div>Sample.WebSite.React</div>

    <!--此id会在index.jsx中作为React UI的入口使用-->
    <div id="app" />

    <!--此行用于指定被webpack build出来的output文件路径-->
    <script src="~/dist/scripts/bundle.js" type="text/javascript"></script>
</body>
</html>
