<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--需要加上此行, 这样才能在app.config或web.config文件中配置Nlog config-->
    <!--否则, 需要安装NLog.Config package, 然后在一个独立的Nlog.Config文件中配置-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
  </configSections>
  <!--Nlog Config-->
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--可以定义一些变量在后面的配置中使用-->
    <!--从NLog 4.3开始${basedir}已经不再是必要的相对路径参数了, 可以省略-->
    <variable name="logDir" value="${basedir}/../logs" />
    <variable name="logName" value="Sample.NLog.Console" />
    <variable name="solutionName" value="Sample" />
    
    <!--TODO: targets标签中可以设置Wrapper, 用法未知-->
    <!--TODO: 在targets标签中去掉async="true"就可以正常log了, 目前原因不详-->
    <targets>
      <!--以下这些输出方式暂时够用了, 如需要更多类型(例如输出到Mail, database等等), 可以参考官网-->
      <!--layout的配置和具体参数含义, 可以参考官网-->
      
      <!--输出到文件-->
      <target name="ServiceLogFile"
              xsi:type="File"
              fileName="${logDir}/current/${solutionName}/${logName}.log"
              archiveFileName="${logDir}/archive/${solutionName}/${logName}{#####}.log"
              layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=type,message,method,StackTrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,StackTrace}}"
              archiveEvery="Day"
              archiveNumbering="Sequence"
              maxArchiveFiles="14"
              keepFileOpen="true"
              enableFileDelete="false" />
      
      <!--TODO: 输出到VS的Output, 目前没有效果-->
      <target name="Debugger"
              xsi:type="Debugger"
              layout="${logger}::${message}" />
      
      <!--输出到控制台, 带颜色的输出-->
      <target name="Console"
              xsi:type="ColoredConsole" />
    </targets>
    
    <!--输出规则设置-->
    <rules>
      <logger name="*" minlevel="Info" writeTo="ServiceLogFile" />
      <logger name="Sample.*" minlevel="Trace" writeTo="Console" />
      <logger name="*" minlevel="Trace" writeTo="Debugger" />
      <!--<logger name="dotnettrace" level="Trace" writeTo="ServiceLogFile" />-->
      <!--<logger name="LIC.*" levels="Debug,Error" writeTo="Console" final="true" />-->
      <!--<logger name="*" minlevel="Warn" maxlevel="Error" writeTo="Console" />-->
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>